---
import Layout from '../layouts/Layout.astro';
import PageHeader from '../components/PageHeader.astro';
---

<Layout title="About me">
	<PageHeader>
		So i’m Christopher. 
		<div slot="text">
			<p>
				i’m a senior front-end web developer currently on sabbatical from professional work. i’m recovering from burnout and trying to figure out who i want to be now.
			</p>
			<p>i use they/them pronouns.</p>
		</div>
	</PageHeader>
</Layout>